@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #27293D;
  --text: #CCD6E6;
  --decoration: #6667AB;
}

body {
  font-family: 'Jost', sans-serif;
  font-display: swap;
  font-size: 1rem;

  background-color: var(--background);
  color: var(--text);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 400px;
  height: 100vh;
}

img {
  width: 7rem;

  border-radius: 50%;
  border: .2rem solid var(--decoration);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3rem;
  height: 3rem;

  border-radius: 50%;
  border: .2rem solid var(--decoration);
}

.circle:hover {
  cursor: pointer;
  
  border-color: var(--text);
  transition: .3s;
}

.circle:active {
  color: var(--decoration);
  transition: .1s;
}

.notable {
  color: var(--decoration);
}